body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230704/pngtree-3d-render-of-crypto-currency-and-nft-composition-image_3828737.jpg")

}
body {
    background-size: cover;
    background-repeat: no-repeat;
}
input[type="text"] {
    background-color: white;
     color: red;
    padding: none;
    width: 20%;
} 

input[type="submit"] {
    width: 100%;
    background-color: black;
    color: white;
    padding: none;
    font-size: 30px;
}
h6 {
    background: white;
     text-align: center;
    color: rgba(192, 16, 16, 0.575);
    font-size: 30px;
    font-family: Arial;
    
   
}
label[for="Name"] {
    font-size: 20px;
    font-family: Impact;
    color: green;
   
}
label[for="Password"] {
    font-size: 20px;
    font-family: Impact;
    color: green;    
}
label[for="Email"] {
    font-size: 20px;
    font-family: Impact;
    color: green;
}
label[for="Username"] {
    font-size: 20px;
    font-family: Impact;
    color: green;
}


img {
    width: 500px;  /* Set width to 500px */
    height: 300px; /* Set height to 300px */
}
h1 {
    color: red;
}
h3 {
    color: rgb(233, 45, 12);
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ul {
    color: rgb(240, 225, 25);
    text-align: left;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h4 {
    color: rgb(12, 243, 212);
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
ol {
    color: rgb(247, 13, 5);
    text-align: left;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
label[for="Confirm-Password"] {
    font-size: 20px;
    font-family: Impact;
    color: green;
}
label[for="Email/Usernames"] {
    font-size: 20px;
    font-family: Impact;
    color: green;
    text-align: right;
}
#outer {
    display: table;
    width: 600px;
    height: 600px;
    background-color: blue;
    color: white;
}